.scrollToTop {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  font-size: 24px;
  border: none;
  outline: none;
  background-color: #fb923c;
  color: #fff;
  cursor: pointer;
  padding: 0;
  width: 48px;
  /* Adjust width and height for your desired size */
  height: 48px;
  border-radius: 50%;
  /* Make it a circle */
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease;
}

.scrollToTop:hover {
  background-color: #ea580c;
}

#global-loader {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255);
  /* Semi-transparent background */
  z-index: 9999;
  /* Ensure it covers the entire screen */
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#main {
  flex: 1;
  background: linear-gradient(145deg, #ffffff, #e6e6e6);
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  padding: 2rem;
}

#main h1 {
  color: #007bff;
  font-size: 2.5rem;
  font-weight: 700;
  border-bottom: 3px solid #007bff;
  display: inline-block;
  margin-bottom: 1.5rem;
}

#main p {
  font-size: 1.125rem;
  line-height: 1.7;
  color: #333;
  text-align: justify;
  margin-bottom: 1.25rem;
}

#main p.lead {
  font-size: 1.25rem;
  font-weight: 300;
  color: #0056b3;
  margin-bottom: 1.5rem;
}

#main p:hover {
  background-color: #f1f1f1;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

footer {
  background: #343a40;
  color: #fff;
  padding: 2rem 1rem;
}